{% extends "base.html" %}

{% block title %}
{% if book_title %}
{{ book_title }}
{% else %}
Get Surprised!
{% endif %}
{% endblock %}

{% block style %}
<style>
    .book-image {
        position: relative;
    }

    .book-overlay-visibility {
        z-index: -1;
    }

    .book-summary {
        max-height: 100%;
        overflow: scroll;
    }

    .book-image:hover .book-overlay-visibility {
        z-index: 1;
    }

    .book-quantity-counter::-webkit-outer-spin-button,
    .book-quantity-counter::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .book-quantity-counter[type=number] {
        -moz-appearance: textfield;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <form action="/books/surprise" class="d-flex mb-4">
        {% csrf_token %}
        <div class="flex-grow-1">
            <input type="text" class="form-control rounded-end-0" id="book-title" name="book-title"
                placeholder="Enter a book title that you have read">
        </div>
        <input type="submit" value="Get Surprised" class="btn btn-primary rounded-start-0">
    </form>
    <div class="border border-2 rounded-2">
        <h2 class="p-4 border border-4 border-top-0 border-start-0 border-end-0 mb-4">Books you may like read next</h2>
        <div class="row px-4">
            {% for book in similar_books %}
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-4">
                <div class="card" style="height: 100%;">
                    <div class="book-image">
                        <div>
                            <img src={{book.thumbnailurl}} class="card-img-top" alt="thumbnail" height="400">
                        </div>
                        <!-- <div class="card-img-overlay book-overlay-visibility bg-black opacity-75 p-4 pe-3 rounded-top-2">
                                    <p class="pe-3 text-white book-summary">
                                        {{ book.summary }}
                                    </p>
                                </div> -->
                    </div>
                    <div class="card-body d-flex flex-column">
                        <div class="flex-grow-1">
                            <h5 class="card-title">
                                <a href="/books/{{book.id}}">
                                    {{ book.title | truncatechars:"40" }}
                                </a>
                            </h5>
                        </div>
                        <p class="text-center">
                            Price: ${{book.price}}
                            {% if book.quantity > 0 %}
                            (Instock)
                            {% else %}
                            (Out of Stock)
                            {% endif %}
                        </p>
                        {% if user %}
                        <form class="d-flex justify-content-between">
                            {% csrf_token %}
                            <div class="d-flex justify-content-center">
                                <button class="btn btn-danger quanity-decrease me-1"
                                    counter-id="book-quantity-{{book.id}}">
                                    <i class="fa-solid fa-minus"></i>
                                </button>
                                <input class="form-control border-2 me-1 text-center book-quantity-counter"
                                    type="number" name="book-quantity-{{book.id}}" id="book-quantity-{{book.id}}"
                                    style="width: 3rem;" value="0" min="0">
                                <button class="btn btn-primary quanity-increase" counter-id="book-quantity-{{book.id}}">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </div>
                            <div>
                                <button class="btn btn-success add-to-cart">
                                    <i class="fa-solid fa-cart-plus"></i>
                                </button>
                            </div>
                        </form>
                        {% else %}
                        <h5 class="text-center">
                            Sign in to buy
                        </h5>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    const decrementButtons = document.querySelectorAll('.quanity-decrease');
    const incrementButtons = document.querySelectorAll('.quanity-increase');

    for (const decrementButton of decrementButtons) {
        const quantityCounterId = decrementButton.getAttribute('counter-id');
        const counterElement = document.querySelector(`#${quantityCounterId}`);
        decrementButton.addEventListener('click', (e) => {
            e.preventDefault();
            const counterValue = parseInt(counterElement.value);
            if (counterValue > 0) {
                counterElement.value = counterValue - 1;
            }
        });
    }

    for (const incrementButton of incrementButtons) {
        const quantityCounterId = incrementButton.getAttribute('counter-id');
        const counterElement = document.querySelector(`#${quantityCounterId}`);
        incrementButton.addEventListener('click', (e) => {
            e.preventDefault();
            const counterValue = parseInt(counterElement.value);
            counterElement.value = counterValue + 1;
        });
    }
</script>
{% endblock %}